		</div> <!-- container -->
	</div> <!-- content-wrap -->
	<footer>
		<div class="container d-none d-lg-block">
			<div class="row pb-4">
				<div class="col-6">
					<a class="tmGlow" href="http://superkloklabs.ca/">
						<p id="footer"><span id="copyright">&copy; </span>2021 Superklok Labs</p>
					</a>
				</div>
				<div class="col-6 pb-2">
					<a class="socialBtn" href="https://github.com/Superklok/TrevMorinPointCa">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258013/SocialMediaIcons/iconGH_zwphaf.png" alt="">
					</a>
					<a class="socialBtn" href="https://www.youtube.com/channel/UCNnuDVs9xXqT5PrbL-uP7Vw/featured">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258263/SocialMediaIcons/iconYT_qjym3l.png" alt="">
					</a>
					<a class="socialBtn" href="https://www.tiktok.com/@superklok?">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258208/SocialMediaIcons/iconTT_lwrdmk.png" alt="">
					</a>
					<a class="socialBtn" href="https://www.instagram.com/superkloklabs/">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258099/SocialMediaIcons/iconIG_q6ovlw.png" alt="">
					</a>
					<a class="socialBtn" href="https://soundcloud.com/user-166803901">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258155/SocialMediaIcons/iconSC_i0oi4x.png" alt="">
					</a>
					<a class="socialBtn" href="https://audiomack.com/superklok/uploads">
						<img class="rounded" src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257825/SocialMediaIcons/iconAM_wvzqeg.png" alt="">
					</a>
					<a class="socialBtn" href="https://superklok.bandcamp.com/">
						<img class="rounded" src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257800/SocialMediaIcons/iconBC_umi8zt.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="container d-none d-sm-block d-lg-none">
			<div class="row">
				<div class="col-6">
					<a class="tmGlow" href="http://superkloklabs.ca/">
						<p id="footer"><span id="copyright">&copy; </span>2021 Superklok Labs</p>
					</a>
				</div>
				<div class="col-6">
					<a class="socialBtn" href="https://github.com/Superklok/TrevMorinPointCa">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258013/SocialMediaIcons/iconGH_zwphaf.png" alt="">
					</a>
					<a class="socialBtn" href="https://www.youtube.com/channel/UCNnuDVs9xXqT5PrbL-uP7Vw/featured">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258263/SocialMediaIcons/iconYT_qjym3l.png" alt="">
					</a>
					<a class="socialBtn" href="https://www.tiktok.com/@superklok?">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258208/SocialMediaIcons/iconTT_lwrdmk.png" alt="">
					</a>
					<a class="socialBtn" href="https://www.instagram.com/superkloklabs/">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258099/SocialMediaIcons/iconIG_q6ovlw.png" alt="">
					</a>
				</div>
			</div>
			<div class="row pb-4 pt-3">
				<div class="col-6 offset-6">
					<a class="socialBtn" href="https://soundcloud.com/user-166803901">
						<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258155/SocialMediaIcons/iconSC_i0oi4x.png" alt="">
					</a>
					<a class="socialBtn" href="https://audiomack.com/superklok/uploads">
						<img class="rounded" src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257825/SocialMediaIcons/iconAM_wvzqeg.png" alt="">
					</a>
					<a class="socialBtn" href="https://superklok.bandcamp.com/">
						<img class="rounded" src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257800/SocialMediaIcons/iconBC_umi8zt.png" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="d-block d-sm-none">
			<div class="d-flex justify-content-center">
				<a class="tmGlow" href="http://superkloklabs.ca/">
					<p id="footer"><span id="copyright">&copy; </span>2021 Superklok Labs</p>
				</a>
			</div>
			<div class="d-flex justify-content-center pt-2">
				<a class="socialBtn" href="https://github.com/Superklok/TrevMorinPointCa">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258013/SocialMediaIcons/iconGH_zwphaf.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.youtube.com/channel/UCNnuDVs9xXqT5PrbL-uP7Vw/featured">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258263/SocialMediaIcons/iconYT_qjym3l.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.tiktok.com/@superklok?">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258208/SocialMediaIcons/iconTT_lwrdmk.png" alt="">
				</a>
				<a class="socialBtn" href="https://www.instagram.com/superkloklabs/">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258099/SocialMediaIcons/iconIG_q6ovlw.png" alt="">
				</a>
			</div>
			<div class="d-flex justify-content-center pb-4 pt-2">
				<a class="socialBtn" href="https://soundcloud.com/user-166803901">
					<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635258155/SocialMediaIcons/iconSC_i0oi4x.png" alt="">
				</a>
				<a class="socialBtn" href="https://audiomack.com/superklok/uploads">
					<img class="rounded" src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257825/SocialMediaIcons/iconAM_wvzqeg.png" alt="">
				</a>
				<a class="socialBtn" href="https://superklok.bandcamp.com/">
					<img class="rounded" src="https://res.cloudinary.com/superkloklabs/image/upload/v1635257800/SocialMediaIcons/iconBC_umi8zt.png" alt="">
				</a>
			</div>
		</div>
	</footer>
</div> <!-- page-container -->