<div id="page-container">
	<div id="content-wrap">
		<div class="container">
			<header>
				<div class="d-flex justify-content-center">
					<div id="pageHeader" class="text-center pt-md-5 mt-lg-5">
						<p id="introTitle" class="pb-0">Bienvenue &agrave;</p>
						<span id="pageTitle" class="lgTitle pt-0 tmGlow">T<span class="smTitle">rev</span>M<span class="smTitle">orin</span><span class="comTitle">.CA</span></span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div id="projectView" class="carousel slide carousel-fade" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635710438/SuperklokPointCa/SwingcarsPointCaScreen_gmjwh5.jpg" class="d-block w-100" alt="">
								</div>
								<div class="carousel-item">
									<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635710437/SuperklokPointCa/CurrentCourantPointCaScreen_ct0txm.jpg" class="d-block w-100" alt="">
								</div>
								<div class="carousel-item">
									<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635710437/SuperklokPointCa/JetWheelReelPointCaScreen_epfvvu.jpg" class="d-block w-100" alt="">
								</div>
								<div class="carousel-item">
									<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1635710437/SuperklokPointCa/SuperklokLabsPointCaScreen_ilxp2j.jpg" class="d-block w-100" alt="">
								</div>
								<div class="carousel-item">
									<img src="https://res.cloudinary.com/superkloklabs/image/upload/v1614279080/SuperklokPointCa/SliderPilerPointCaScreen_gfvfuy.png" class="d-block w-100" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>