<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bienvenue &agrave; TrevMorin.ca!</title>
	<link rel="icon" href="../assets/img/icons/superklok.ico">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Caveat+Brush&family=Great+Vibes&family=Lacquer&family=Lobster&family=Metal+Mania&family=Mouse+Memoirs&family=Righteous&family=Sedgwick+Ave+Display&family=UnifrakturMaguntia&family=VT323&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/styles/nav.css">
	<link rel="stylesheet" href="/styles/btn.css">
	<link rel="stylesheet" href="/styles/footer.css">
	<link rel="stylesheet" href="/styles/title.css">
	<link rel="stylesheet" href="/styles/app.css">
	<link rel="stylesheet" href="/styles/navDarkMode.css">
	<link rel="stylesheet" href="/styles/btnDarkMode.css">
	<link rel="stylesheet" href="/styles/footerDarkMode.css">
	<link rel="stylesheet" href="/styles/titleDarkMode.css">
	<link rel="stylesheet" href="/styles/appDarkMode.css">
</head>
<body>
	<%- include('../partials/header') %>
	<%- include('../partials/navbar') %>
	<main>
	<%- body %>
	</main>
	<%- include('../partials/footer') %>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	<script src="/scripts/carousel.js"></script>
</body>
</html>