<% layout('layouts/boilerplate') %>
<div id="readList">
	<div class="row">
		<div class="col-lg-12">
			<div class="dropdown float-right mt-2 pt-1 mr-5 pr-3">
				<a class="dropdown-toggle langBtn tmGlow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>Fran&#231;ais</span>
				</a>
				<div class="menu dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="mx-4 langBtn tmGlow" href="http://www.trevmorin.com/">English</a>
				</div>
			</div>
			<p class="sectionTitle mt-3 mb-3 ml-5 d-none d-sm-block">Nouvelles sorties:</p>
			<p class="sectionTitle mt-3 mb-3 ml-4 d-block d-sm-none">Nouvelles <br>sorties:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div class="mx-3 pb-4">
				<p class="mb-2 pb-1 ml-2">
					<a class="swingText mdText tmGlow" href="http://www.swingcars.ca/">Swingcars</a>
				</p>
				<p class="projectDesc"><em>Fl&acirc;ne &agrave; travers mon r&eacute;seau social!</em></p>
				<p class="projectBody">S’il y avait un moment dont vous avez d&eacute;j&agrave; vu le v&eacute;hicule d'un autre et vous voulez le conduire, alors ce concept est exactement le type de r&eacute;seau social qui vous permettrait d'&eacute;changer des v&eacute;hicules avec cet &eacute;tranger. En th&eacute;orie, ce service vous permettrait de contacter des autres automobilistes dans votre r&eacute;gion pour les joindre &agrave; un endroit pr&eacute;cis, &eacute;changer des v&eacute;hicules et ensuite faire un essai routier. J'ai cr&eacute;&eacute; cette appli d'&eacute;change v&eacute;hiculaire en utilisant Mongo, Express et Node.</p>
			</div>
			<div class="mx-3 pb-4">
				<p class="mb-2 ml-2">
					<a class="tccText mdText tmGlow" href="http://www.currentcourant.ca/">Le Current Courant</a>
				</p>
				<p class="projectDesc"><em>Br&ucirc;lez &agrave; travers mon appli de journal!</em></p>
				<p class="projectBody">Voici un truc que j'ai con&#231;u pour tous ceux qui s'int&eacute;ressent &agrave; l'&eacute;criture de fiction ou qui sont fatigu&eacute;s de faire seulement passer &agrave; traverse des nouvelles s&eacute;rieuses. Il s'agit d'une collection d'articles satiriques qui, tous ensemble, constituent une appli journalistique o&ugrave; des gens peuvent publier leurs propres travaux ou laisser leurs avis sur les chroniques existantes. J'ai cr&eacute;&eacute; cette appli en utilisant Mongo, Express et Node.</p>
			</div>
			<div class="mx-3">
				<p class="mb-2 ml-2">
					<a class="slText tmGlow" href="http://www.superkloklabs.ca/">Superklok Labs</a>
				</p>
				<p class="projectDesc"><em>Traversez le site de mon entreprise!</em></p>
				<p class="projectBody">Si vous cherchez un d&eacute;veloppeur web sp&eacute;cialisent en JavaScript, vos cherches arr&ecirc;te ici! La conception d'applis personnalis&eacute;es, l'h&eacute;bergement web, l'orchestration Kubernetes, production de musique et traitement vid&eacute;o ne sont que quelques-uns des services que j'ai &agrave; offrir. Je suis &eacute;galement capable de conteneuriser des applications existantes vers des Dockerfiles &agrave; &eacute;tages multiples et des fichiers YAML de Docker Compose. La traduction d'applis fran&#231;aises en anglais ne me pose aucun probl&egrave;me. Mon appli commerciale a &eacute;t&eacute; con&#231;ue &agrave; l'aide d'Express et de Node.</p>
			</div>
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-lg-12">
			<p class="sectionTitle mb-3 ml-5 d-none d-sm-block">R&eacute;cemment mis &agrave; jour:</p>
			<p class="sectionTitle mb-3 ml-4 d-block d-sm-none">R&eacute;cemment mis &agrave; jour:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div class="mx-3 pb-4">
				<p class="mb-2 pb-1 ml-2">
					<a class="jetText mdText tmGlow" href="http://www.jetwheelreel.ca/">Jet Wheel Reel</a>
				</p>
				<p class="projectDesc"><em>Lancez-vous dans mon projet de passion!</em></p>
				<p class="projectBody">C'est l&agrave; que se trouvent toutes les &eacute;tapes n&eacute;cessaires pour correctement remplacer une assembl&eacute;e de roue sur un jet priv&eacute; Beechcraft 1900D. Toutes les instructions trouv&eacute;es sur ce site sont des donn&eacute;es de r&eacute;f&eacute;rence uniquement et vous devez toujours consulter le manuel d'entretien du fabricant de l'avion lorsque vous appliquez ces techniques dans la pratique. Cette appli informative a &eacute;t&eacute; cr&eacute;&eacute;e avec Express et Node.</p>
			</div>
			<div class="mx-3">
				<p class="mb-2 pb-1 ml-2">
					<a class="tmGlow" href="#"><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText mdText">.CA</span></a>
				</p>
				<p class="projectDesc"><em>Parcourez mon portfolio!</em></p>
				<p class="projectBody">Ce site web que vous vous &ecirc;tes en train de visiter sert comme une plateforme centralis&eacute;e pour acc&eacute;der toutes mes cr&eacute;ations. Vous pourrez y trouver plus d'informations d&eacute;taillent chacune de mes sorties et d&eacute;couvrir tous mes projets en cours de d&eacute;veloppement. J'ai cr&eacute;&eacute; mon appli de portfolio personnel en utilisant Express et Node.</p>
			</div>
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-lg-12">
			<p class="sectionTitle mb-3 ml-5 d-none d-sm-block">Bient&ocirc;t disponible:</p>
			<p class="sectionTitle mb-3 ml-4 d-block d-sm-none">Bient&ocirc;t disponible:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div class="mx-3">
				<p class="mb-2 pb-1 ml-2">
					<a class="spText mdText tmGlow" href="http://www.sliderpiler.ca/">Slider Piler</a>
				</p>
				<p class="projectDesc"><em>D&eacute;couvrez mon appli de resto d'hamburger des 90!</em></p>
				<p class="projectBody">Voici un concept de resto d'hamburger &agrave; th&egrave;me d'heavy m&eacute;tal des 90 o&ugrave; le client peut commander parmi les choix au menu ou construire son propre hamburger personnalis&eacute;. Cette appli contient une fonction de fabrication d'hamburger qui est actuellement en cours de d&eacute;veloppement en utilisant React, Redux, React Router, Node et Firebase.</p>
			</div>
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-lg-12">
			<p class="sectionTitle mb-3 ml-5 d-none d-sm-block">Contactez-moi:</p>
			<p class="sectionTitle mb-3 ml-4 d-block d-sm-none">Contactez-moi:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div id="pageEnd" class="mx-3">
				<p class="mb-2 pb-1 ml-2">
					<a class="tmGlow" href="mailto:info@trevmorin.ca"><span class="mdText">info@</span><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText mdText">.CA</span></a>
				</p>
				<p class="projectDesc"><em>Mes travaux vous int&eacute;ressent?</em></p>
				<p class="projectBody">Veuillez m'envoyer un courriel si vous souhaitez obtenir plus d'informations concernent mes projets. Contactez-moi si vous souhaitez recevoir un code membre ou un code auteur afin d'&eacute;valuer les fonctionnalit&eacute;s de Swingcars ou Le Current Courant. Tous mes projets sont &eacute;galement disponibles en anglais, alors n'h&eacute;sitez pas &agrave; me contacter en anglais si &#231;a vous plait.</p>
			</div>
		</div>
	</div>
</div>