<% layout('layouts/boilerplate') %>
<div id="readList">
	<div class="row">
		<div class="col-lg-12">
			<div class="dropdown float-right mt-2 pt-1 mr-5 pr-4">
				<a class="dropdown-toggle langBtn tmGlow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>Fran&#231;ais</span>
				</a>
				<div class="menu dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="mx-4 langBtn tmGlow" href="https://www.trevmorin.com/">English</a>
				</div>
			</div>
			<p class="sectionTitle mt-3 mb-3 ml-5">Nouvelles sorties:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div class="mx-3 pb-4">
				<p class="mb-2 pb-1 ml-2">
					<a class="swingText mdText tmGlow" href="https://www.swingcars.ca/">Swingcars</a>
				</p>
				<p class="projectDesc"><em>Prenez charge de mon appli de m&eacute;dias sociaux!</em></p>
				<p class="projectBody">Si vous avez d&eacute;j&agrave; regard&eacute; le v&eacute;hicule qui appartient &agrave; quelqu'un d'autre et vous voulez le conduire, alors ce concept est exactement le type de r&eacute;seau social qui vous permettrait d'&eacute;changer des v&eacute;hicules avec cet &eacute;tranger. En th&eacute;orie, ce service vous permettrait d'entrer en contact avec d'autres automobilistes de votre r&eacute;gion pour les rencontrer &agrave; un endroit pr&eacute;cis, &eacute;changer des v&eacute;hicules, puis faire un essai de conduite. J'ai cr&eacute;&eacute; cette appli d'&eacute;change de v&eacute;hicules en utilisant MongoDB, Express et Node.</p>
			</div>
			<div class="mx-3 pb-4">
				<p class="mb-2 ml-2">
					<a class="tccText mdText tmGlow" href="https://www.currentcourant.ca/">Le Current Courant</a>
				</p>
				<p class="projectDesc"><em>Br&ucirc;lez &agrave; travers mon appli de nouvelles!</em></p>
				<p class="projectBody">Voici un truc que j'ai con&#231;ue et qui est destin&eacute;e &agrave; tous ceux qui s'int&eacute;ressent &agrave; l'&eacute;criture de fiction ou qui sont fatigu&eacute;s de ne lire que des nouvelles s&eacute;rieuses. Il s'agit d'une collection d'articles satiriques qui, tous ensemble, constituent une application de journal o&ugrave; les gens peuvent publier leur propre travail ou laisser leurs avis sur les chroniques existantes. J'ai cr&eacute;&eacute; cette appli en utilisant MongoDB, Express et Node.</p>
			</div>
			<div class="mx-3">
				<p class="mb-2 ml-2">
					<a class="slText tmGlow" href="https://www.superklok.ca/">Superklok Labs</a>
				</p>
				<p class="projectDesc"><em>Parcourez le site web de mon entreprise!</em></p>
				<p class="projectBody">Si vous cherchez un sp&eacute;cialiste de l'informatique distribu&eacute;e de nuage, vos cherches arr&ecirc;te ici! J'h&eacute;berge une douzaine applications Node conteneuris&eacute;es dans Docker et orchestr&eacute;es gr&acirc;ce &agrave; Kubernetes. Je suis &eacute;galement capable de conteneuriser des applications existantes dans des dockerfiles &agrave; &eacute;tapes multiples et des fichiers YAML de docker-compose. La traduction d'applications fran&#231;aises en anglais ne me pose aucun probl&egrave;me. Mon appli professionnelle a &eacute;t&eacute; cr&eacute;&eacute;e &agrave; l'aide de Express et Node.</p>
			</div>
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-lg-12">
			<p class="sectionTitle ml-5 mb-3">R&eacute;cemment mis &agrave; jour:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div class="mx-3 pb-4">
				<p class="mb-2 pb-1 ml-2">
					<a class="jetText mdText tmGlow" href="https://www.jetwheelreel.ca/">Jet Wheel Reel</a>
				</p>
				<p class="projectDesc"><em>Lancez-vous dans mon projet de passion!</em></p>
				<p class="projectBody">C'est l&agrave; que se trouvent toutes les &eacute;tapes n&eacute;cessaires pour correctement remplacer une assembl&eacute;e de roue sur un jet priv&eacute; Beechcraft 1900D. Toutes les instructions trouv&eacute;es sur ce site sont des donn&eacute;es de r&eacute;f&eacute;rence uniquement et vous devez toujours consulter le manuel d'entretien du constructeur de l'avion lorsque vous appliquez ces techniques dans la pratique. Cette appli informative a &eacute;t&eacute; cr&eacute;&eacute;e avec Express et Node.</p>
			</div>
			<div class="mx-3">
				<p class="mb-2 pb-1 ml-2">
					<a class="tmGlow" href="#"><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText mdText">.CA</span></a>
				</p>
				<p class="projectDesc"><em>Parcourez mon portfolio!</em></p>
				<p class="projectBody">Ce site web que vous visitez actuellement sert comme une plate-forme centralis&eacute;e pour acc&eacute;der toutes mes cr&eacute;ations. Vous pourrez y trouver plus d'informations sur chacune de mes sorties et vous renseigner sur tous mes projets en cours de d&eacute;veloppement. J'ai cr&eacute;&eacute; mon appli personnelle de portfolio en utilisant Express et Node.</p>
			</div>
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-lg-12">
			<p class="sectionTitle ml-5 mb-3">Bient&ocirc;t disponible:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div class="mx-3">
				<p class="mb-2 pb-1 ml-2">
					<a class="spText mdText tmGlow" href="https://www.sliderpiler.ca/">Slider Piler</a>
				</p>
				<p class="projectDesc"><em>D&eacute;couvrez mon application de restaurant des ann&eacute;es 90!</em></p>
				<p class="projectBody">Voici un concept de restaurant hamburger &agrave; th&egrave;me de heavy m&eacute;tal des ann&eacute;es 90 o&ugrave; le client peut commander parmi le menu ou construire son propre hamburger personnalis&eacute;. Cette application contient une fonction de cr&eacute;ation de votre propre hamburger qui est actuellement en cours de d&eacute;veloppement en utilisant MongoDB, Express, React et Node.</p>
			</div>
		</div>
	</div>
	<div class="row pt-5">
		<div class="col-lg-12">
			<p class="sectionTitle ml-5 mb-3">Infos de contact:</p>
		</div>
	</div>
	<div class="row pt-1">
		<div class="col-lg-12">
			<div id="pageEnd" class="mx-3">
				<p class="mb-2 pb-1 ml-2">
					<a class="tmGlow" href="mailto:info@trevmorin.ca"><span class="mdText">info@</span><span class="tmLgText">T</span><span class="tmSmText">rev</span><span class="tmLgText">M</span><span class="tmSmText">orin</span><span class="tmComText mdText">.CA</span></a>
				</p>
				<p class="projectDesc"><em>Vous vous int&eacute;ressez &agrave; mon travail?</em></p>
				<p class="projectBody">Veuillez m'envoyer un courriel si vous souhaitez d'obtenir plus d'informations concernent mes projets. Contactez-moi si vous souhaitez d'obtenir un code de membre ou un code d'auteur afin d'&eacute;valuer les fonctionnalit&eacute;s de Swingcars ou Le Current Courant. Tous mes projets sont &eacute;galement disponibles en anglais, alors n'h&eacute;sitez pas &agrave; me contacter en anglais si vous le souhaitez.</p>
			</div>
		</div>
	</div>
</div>