<a class="socialBtn" href="https://soundcloud.com/user-166803901">
	<img src="../assets/img/icons/iconSC.png" alt="">
</a>
<a class="socialBtn" href="https://audiomack.com/superklok/uploads">
	<img class="rounded" src="../assets/img/icons/iconAM.png" alt="">
</a>
<a class="socialBtn" href="https://superklok.bandcamp.com/">
	<img class="rounded" src="../assets/img/icons/iconBC.png" alt="">
</a>