<a class="socialBtn" href="https://github.com/Superklok/TrevMorinPointCa">
	<img src="../assets/img/icons/iconGH.png" alt="">
</a>
<a class="socialBtn" href="https://www.youtube.com/channel/UCNnuDVs9xXqT5PrbL-uP7Vw/featured">
	<img src="../assets/img/icons/iconYT.png" alt="">
</a>
<a class="socialBtn" href="https://www.tiktok.com/@superklok?">
	<img src="../assets/img/icons/iconTT.png" alt="">
</a>
<a class="socialBtn" href="https://www.instagram.com/superkloklabs/">
	<img src="../assets/img/icons/iconIG.png" alt="">
</a>